<extend name="Public/base"/>
<block name="css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/node.css">
</block>
<block name="menu">
  <include file='Public/menu'/>
</block>
<block name="content">

  <div class="div_head">
    <h2 class="sub-header">修改节点</h2>
    <hr/>
    <span>

                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{:U('showlist')}"
                       class="btn btn-info">返回</a>
                </span>
            </span>
  </div>
  <div></div>

  <div style="font-size: 13px;margin: 10px 5px">

    <form action="__URL__/updateNodeHandle/id/{$node.id}" method="post"
          enctype="multipart/form-data" class="alt">
      <table class='table'>
        <tr>
          <td align="right"><span>{$type}名称：&nbsp;</span><input type="text" name="name"
                                                                value="{$node.name}"/><span>for English</span>
          </td>

        </tr>
        <tr>
          <td align="right"><span>{$type}描述：&nbsp;</span><input type="text" name="title"
                                                                value="{$node.title}"/></td>

        </tr>
        <tr>
          <td align="right"><span>状态：&nbsp;</span><input type="radio" name="status" value="1"
                                                         checked="checked"/>&nbsp;开启&nbsp;
            <input type="radio" name="status" value="0"/>&nbsp;关闭&nbsp;
          </td>

        </tr>
        <tr>
          <td align="right"><span>{$type}排序：&nbsp;</span><input type="text" name="sort" value="1"/>
          </td>

        <tr>
          <td colspan="2" align="center">
            <input type="hidden" name="pid" value="{$pid}"/>
            <input type="hidden" name="level" value="{$level}"/>
            <input type="hidden" value="{$node.id}" name="id">
            <input type="submit" value="确认修改" class="btn btn-info alt"/>
          </td>
        </tr>
        </tr>
      </table>
    </form>
  </div>
</block>

<block name="javascript">
  <script src="__PUBLIC__/Admin/js/Node.js"></script>
</block>
