<extend name="Public/base"/>

<block name="css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/zyUpload.css">
  <script src="__PUBLIC__/Admin/js/zyFile.js"></script>
  <!-- 引用控制层插件 -->
  <script src="__PUBLIC__/Admin/js/zyUpload.js"></script>
  <!-- 引用初始化JS -->
  <script src="__PUBLIC__/Admin/js/demo.js"></script>
</block>
<block name="menu">
  <include file='Public/menu'/>
</block>
<block name="content">
  <h2 class="sub-header">文件上传</h2>
  <hr/>
  <div id="demo" class="demo" style="float: left"></div>
</block>

<block name="javascript">

</block>