<extend name="Public/base"/>

<block name="css">

</block>

<block name="menu">
  <include file='Public/menu'/>
</block>

<block name="content">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">用户列表</h2>
    <hr/>
    <div class="oprate_area">
      <div class="operate">
        <a href="__URL__/addUser">
          <button type="button" class="btn btn-info">添加用户</button>
        </a>

      </div>

    </div>
    <div class="table-responsive">
      <table class="table table-striped with-check table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>用户名称</th>
          <th>上一次登录时间</th>
          <th>上一次登录IP</th>
          <th>锁定状态</th>
          <th>用户所属组别</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="user" item="v">
          <tr>
            <td style="text-align: center;vertical-align: middle;">{$v.id}</td>
            <td style="text-align: center;vertical-align: middle;">{$v.username}</td>
            <td style="text-align: center;vertical-align: middle;">{$v.last_login_time|date="Y年m月d日
              H:i:s", ###}
            </td>
            <td style="text-align: center;vertical-align: middle;">{$v.last_login_ip}</td>
            <td style="text-align: center;vertical-align: middle;">
              <if condition="$v['status']== 0"><span class="label label-dark-red">锁定</span>
                <else/>
                <if condition='$v["username"] == C("RBAC_SUPERADMIN")'><span
                  class="label label-default">正常</span>
                  <else/>
                  <span class="label label-info">正常</span></if>
              </if>
            </td>
            <td style="text-align: center">
              <if condition='$v["username"] == C("RBAC_SUPERADMIN")'><span
                class="label label-default">超级管理员</span>
                <else/>
                <ul style="list-style:none;padding:0;margin:0;">
                  <foreach name="v.role" item="value">
                    <li>{$value.name} ({$value.remark})</li>
                  </foreach>
                </ul>
              </if>
            </td>
            <td>
              <if condition='$v["username"] == C("RBAC_SUPERADMIN")'><a href="#"
                                                                        class="btn btn-default btn-danger btn-xs disabled">锁定</a>
                <else/>
                <if condition='$v["status"]==1'>
                  <a href="__URL__/lock/id/{$v.id}" class="btn btn-default btn-danger btn-xs lock">锁定</a>
                  <else/>
                  <a href="__URL__/unlock/id/{$v.id}"
                     class="btn btn-default btn-info btn-xs unlock">激活</a>
                </if>
              </if>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
    </div>
  </div>
</block>
<block name="javascript">
  <script src="__PUBLIC__/Admin/js/User.js"></script>
</block>